<div class="body">
  <h1>Wordle Game</h1>
  <div class="wordle">
    <div *ngFor="let word of words" class="word">
      <div *ngFor="let letter of word" class="letter" [ngClass]="letter.color">
        {{letter.chr}}
      </div>
    </div>
  </div>

  <div class="keyboard">
    <div class="word">
      <div *ngFor="let letter of kyb1; let i=index;" class="letter" (click)="typeWord(letter.chr)"
        [ngClass]="letter.color">
        {{letter.chr}}
      </div>
    </div>
    <div class="word">
      <div *ngFor="let letter of kyb2; let i=index;" class="letter" (click)="typeWord(letter.chr)"
        [ngClass]="letter.color">
        {{letter.chr}}
      </div>
    </div>
    <div class="word">
      <div class="letter spbtn" (click)="deleteWord()">
        Delete
      </div>
      <div *ngFor="let letter of kyb3; let i=index;" (click)="typeWord(letter.chr)" [ngClass]="letter.color"
        class="letter">
        {{letter.chr}}
      </div>
      <div class="letter spbtn" (click)="verifyWord()">
        Enter
      </div>
    </div>
  </div>

  <div class="btns">
    <button (click)="load()">New game</button>
    <button (click)="reveal()">Reveal Answer</button>
  </div>
</div>